#enderverse {
    background-image: url("../images/enderversebackground.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}
#enderverselogo {
    filter: drop-shadow(0px 0px 5px black);
    display: block;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    width: auto;
}
#enderverselogobox {
    height: auto;
    max-height: 70vh;
}
.button-gr {
    text-align: center;
}
#image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#image-container>a>img {
    filter: drop-shadow(0px 0px 5px black);
    display: block;
    margin: 0 auto;
    height: auto;
    max-height: 30vh;
    width: auto;
}